@model PrivateTutoringApplication.Shared.DTO.KullaniciDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h1>Edit</h1>

<h4>KullaniciDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" asp-controller="Account" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KimlikNo" class="control-label"></label>
                <input asp-for="KimlikNo" class="form-control" />
                <span asp-validation-for="KimlikNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DogumYeri" class="control-label"></label>
                <input asp-for="DogumYeri" class="form-control" />
                <span asp-validation-for="DogumYeri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biyografi" class="control-label"></label>
                <input asp-for="Biyografi" class="form-control" />
                <span asp-validation-for="Biyografi" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CVPath" class="control-label"></label>
                <input type="file" name="CVPath" required class="form-control" />
                <span asp-validation-for="CVPath" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperSchool" class="control-label"></label>
                <input asp-for="UpperSchool" class="form-control" />
                <span asp-validation-for="UpperSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperDepartment" class="control-label"></label>
                <input asp-for="UpperDepartment" class="form-control" />
                <span asp-validation-for="UpperDepartment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job" class="control-label"></label>
                <input asp-for="Job" class="form-control" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationStatus" class="control-label"></label>
                <input asp-for="GraduationStatus" class="form-control" />
                <span asp-validation-for="GraduationStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>